section#call-to-action {
    background-color: white;
    color: black;

    margin-left: 100px;
    margin-right: 100px;

    /* flexbox */
    display: flex;
}

section#call-to-action .call-to-action-container {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 100%;

    margin-top: 100px;
    margin-bottom: 100px;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;

    /* flexbox */
    display: flex;
    flex: 1;
    justify-content: space-around;
}

section#call-to-action .call-to-action-prompt {
    /* flexbox */
    display: flex;
    flex-direction: column;
}

section#call-to-action .call-to-action-message {
    font-size: 22px;

    padding-top: 5px;
    padding-bottom: 5px;
}

section#call-to-action .call-to-action-task {
    font-size: 16px;
}

section#call-to-action .call-to-action-button-container {
    /* flexbox */
    display: flex;
    align-items: center;
}

section#call-to-action .call-to-action-button {
    width: 150px;
    height: 70%;
    font-family: "Roboto", sans-serif;  /* must set font manually */
    font-size: 20px;
    background-color: #3882F6;  /* must set background color manually */
    color: white;  /* must set font color manually */
    border-color: white;
    border-width: 2px;
    border-radius: 8px;
}
