section#footer {
    background-color: #1F2937;
}

section#footer .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;

    text-align: center;
}

section#footer .copyright-message {
    font-size: 18px;
    font-weight: 300;
    color: white;
}

section#footer a {
    font-size: 18px;
    font-weight: 300;
    color: skyblue;
    text-decoration: underline;
}