section#information {
    background-color: green;  /* TODO: use provided color instead */

    padding-top: 50px;
    padding-bottom: 50px;

    /* flexbox */
    display: flex;
    flex-wrap: nowrap;
}

section#information .info-container {
    /* flexbox */
    display: flex;
    flex-direction: column;  /* stack images horizontally, not vertically */
}

section#information .info-title {
    /* flexbox */
    flex: 1;
    text-align: center;
}

section#information .image-container {

    /* flexbox */
    display: flex;
    justify-content: space-around;
}

section#information .image {
    width: 20%;

    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#information .info-image {
    height: auto;
    width: 100%;

    border-width: 3px;
    border-style: solid;
    border-color: blue;
    border-radius: 8px;
}

section#information .info-caption {
    text-align: center;
}
