section#information {
    background-color: green;  /* TODO: use provided color instead */

    padding-top: 50px;
    padding-bottom: 50px;

    /* flexbox */
    flex-direction: column;
    flex-wrap: nowrap;
}

section#information .info-container {
    flex: 1;
}

section#information .info-title {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

section#information .image-collection {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;

    /* flexbox */
    display: flex;
    align-items: center;
}

section#information .multi-image-container {
    width: 200px;

    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#information .info-image {
    height: auto;
    width: 100%;

    border-width: 3px;
    border-style: solid;
    border-color: blue;
    border-radius: 8px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

section#information .info-caption {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
