section#information {
    background-color: white;

    padding-top: 50px;
    padding-bottom: 100px;

    /* flexbox */
    display: flex;
    flex-wrap: nowrap;
}

section#information .info-container {
    width: 100%;

    margin-left: 10%;
    margin-right: 10%;

    /* flexbox */
    display: flex;
    flex-direction: column;  /* stack images horizontally, not vertically */
}

section#information .info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;

    /* flexbox */
    flex: 1;
    text-align: center;
}

section#information .image-container {

    /* flexbox */
    display: flex;
    justify-content: center;
    gap: 48px;
}

section#information .image {
    width: 15%;

    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#information .info-image {
    height: 125px;
    width: 100%;

    border-width: 3px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
}

section#information .info-caption {
    font-size: 14px;
    font-weight: 400;
    color: #1F2937;
    margin-top: 10px;

    text-align: center;
}
