section#quotation {
    background-color: #E5E7EB;

    /* flexbox */
    display: flex;
}

section#quotation .quote-container {
    color: #1F2937;

    margin-top: 150px;
    margin-bottom: 100px;

    padding-left: 125px;
    padding-right: 125px;

    /* flexbox */
    display: block;
    flex: 3;
}

section#quotation .quotation {
    text-align: left;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;  /* must set font manually */

    /* flexbox */
    flex: 1;
}

section#quotation .quote-author {
    margin-top: 20px;
    text-align: right;
    font: 24px bold;
    font-family: "Roboto", sans-serif;  /* must set font manually */
}
