# MacOS configuration files
.DS_Store

# Jetbrains configuration files
.idea/
*.xml
*.iml

# Friend's example landing page information section
index_info_section_complete.css
index_info_section_complete.html
