
/**
    justify-content properties:
    - start;
    - center;
    - space-between;
    - space-around;
    - space-evenly;
**/

* {
    border-width: 1px;
    border-style: solid;
    border-color: red;

    /* zero out padding and margin so we can control it later */
    padding: 0;
    margin: 0;
}

body {
    font-family: "Comic Sans MS", sans-serif;
    --border-width: 2px;
}

section#header {
    background-color: navy;  /* TODO: use provided color instead */
    color: white;

    /* leave space for two side columns */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
    padding-bottom: 0;

    /* TODO: Remove white films surrounding header. */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;

    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#header h2 {

}

section#header h2 a {
    text-decoration: none;  /* remove underlines */
    color: white;  /* must set color of links manually */
}

section#header ul {
    list-style-type: none;  /* no bullets */

    /* flexbox */
    display: flex;
    justify-content: space-evenly;
}

section#header ul li {
    display: inline;  /* make links appear adjacent to each other */
}

section#header ul li a {
    text-decoration: none;  /* remove underlines */
    color: white;  /* must set color of links manually */
}

section#intro {
    background-color: black;  /* TODO: use provided color instead */
    color: white;

    /* make two side columns */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
    padding-bottom: 0;
}

section#intro article {
    height: 200px;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;

    /* flexbox */
    display: flex;
    flex-direction: row;
}

section#intro article section {
    width: calc(50% - var(--border-width));

    /* flexbox */
    display: flex;
    flex-direction: column;
}

section#intro article section.section1 {
    
}

section#intro article section.section1 h2 {
    font-size: 48px;
}

section#intro article section.section1 p {
    font-size: 18px;
}

section#intro article section.section1 button {
    font-family: "Comic Sans MS", sans-serif;  /* must set button font manually */
    background-color: dodgerblue;  /* TODO: use provided color instead */
    color: white;  /* must set button text color manually */
    border-radius: 8px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

section#intro article section.section2 {

}

section#intro article section.section2 img {
    width: calc(100% - var(--border-width));
    height: calc(100% - var(--border-width));
}
