* {
    /* make the border visible for debugging an element's margin and padding */
    border-width: 1px;
    border-style: solid;
    border-color: red;

    /** include an element's padding and border within its total
    width and height calculation. **/
    box-sizing: border-box;

    /* zero out padding and margin so we can control it later */
    padding: 0;
    margin: 0;
}

body {
    font-family: "Comic Sans MS", sans-serif;
    --border-width: 2px;
}

section#header, section#intro, section#information,
section#quotation, section#footer {
    color: white;

    /* leave space for two side columns */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0;
    padding-bottom: 0;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

section#header {
    background-color: navy;  /* TODO: use provided color instead */

    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#header h2 {

}

section#header h2 a {
    text-decoration: none;  /* remove underlines */
    color: white;  /* must set color of links manually */
}

section#header ul {
    list-style-type: none;  /* no bullets */

    /* flexbox */
    display: flex;
    justify-content: space-evenly;
}

section#header ul li {
    display: inline;  /* make links appear adjacent to each other */
}

section#header ul li a {
    text-decoration: none;  /* remove underlines */
    color: white;  /* must set color of links manually */
}

section#intro {
    background-color: black;  /* TODO: use provided color instead */
}

section#intro article {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;

    /* flexbox */
    display: flex;
    flex-direction: row;
}

section#intro article section {
    width: calc(50% - var(--border-width));

    /* flexbox */
    display: flex;
    flex-direction: column;
}

section#intro article section.section1 {
    
}

section#intro article section.section1 h2 {
    font-size: 48px;
}

section#intro article section.section1 p {
    font-size: 18px;
}

section#intro article section.section1 button {
    font-family: "Comic Sans MS", sans-serif;  /* must set button font manually */
    background-color: dodgerblue;  /* TODO: use provided color instead */
    color: white;  /* must set button text color manually */
    width: 125px;
    border-radius: 8px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;

    /* TODO: How do I control the alignment of the button?
        e.g., left justify, center, right justify */
}

section#intro article section.section2 {

}

section#intro article section.section2 img {
    width: calc(100% - var(--border-width));
    height: calc(100% - var(--border-width));
}

section#quotation {

}

section#call-to-action {

}

section#footer {

}
